<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> ①
<head>
   <title>Gestionar Disponibilidades</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
   <h1>Lista de disponibilidades</h1>
   <table>
     <thead>
       <tr>
         <th>ID</th>
         <th>Fecha</th>
         <th>Hora de inicio</th>
         <th>Hora de fin</th>
         <th>Estado</th>
         <th>Usuario</th>
         <th>DNI Persona mayor</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="disponibilidad: ${disponibilidades}">
         <td th:text="${disponibilidad.id}"></td>
         <td th:text="${disponibilidad.fecha}"></td>
         <td th:text="${disponibilidad.hora_inicio}"></td>
         <td th:text="${disponibilidad.hora_fin}"></td>
         <td th:text="${disponibilidad.estado_disponible}"></td>
         <td th:text="${disponibilidad.usuario}"></td>
         <td th:text="${disponibilidad.dni_personaMayor}"></td>
         <td><a th:href="@{/disponibilidad/update/{id}(id=${disponibilidad.id})}">Edita</a>
         </td>
         <td><a th:href="@{/disponibilidad/delete/{id}(id=${disponibilidad.id})}">Borra</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add">Anyade Disponibilidad</a>
</body>
</html>
