
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #17141f38 !important;padding: 1.2rem 1rem;">
	<div class="navbar-collapse collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" ><a class="nav-link" href="/" th:href="@{/}" style="color: darkblue;font-size: larger;">Pagina principal</a></li>
			<li class="nav-item" ><a class="nav-link" href="/personaMayor/indexPersonaMayor" th:href="@{../personaMayor/indexPersonaMayor}" style="color: darkblue;font-size: larger;">
				Gestion de personas mayores</a></li>                     
		</ul>
		<div th:replace="fragmentos/logininfo"></div>
	</div>
</nav>
