<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> ①
<head>
   <title>Gestionar Facturas</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
   <h1>Lista de facturas</h1>
   <table>
     <thead>
       <tr>
         <th>Numero</th>
         <th>Fecha</th>
         <th>Cantidad</th>
         <th>Concepto</th>
         <th>DNI</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="factura: ${facturas}">
         <td th:text="${factura.numero}"></td>
         <td th:text="${factura.fecha}"></td>
         <td th:text="${factura.cantidad}"></td>
         <td th:text="${factura.concepto}"></td>
         <td th:text="${factura.dni_personaMayor}"></td>
         <td><a th:href="@{/factura/update/{numero}(numero=${factura.numero})}">Edita</a>
         </td>
         <td><a th:href="@{/factura/delete/{numero}(numero=${factura.numero})}">Borra</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add">Anyade Factura</a>
</body>
</html>
