<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragmentos/base}">
<head>
<title>Solicitud</title>
<meta charset="UTF-8"/>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"
                                    th:href="@{/css/bootstrap.css}"/>

</head>
<body>
<div layout:fragment="content" style="margin: 1vw;">
	<h3>Gestión de peticiones</h3>
	<div id="nueva" style="background-color: #ece5e5;;height:100%;    margin: 2vh;padding: 2vh;"> 
		<h5>Crear una nueva petición</h5>
		<form action="#" th:action="@{/peticion/add}"
                     th:object="${peticion}" method="post">
			<table>
		        <tr>
		        	<td><h2>Tipo del servicio</h2></td>
		        	</tr>
		        	<tr style="font-size: x-large;">
		            <td><span>
						<input type="radio" th:field="*{tipo_servicio}"
							value= "comida" id="comida" />
							<label for="tipus1">Comida</label>
						</span>
						<span>
							<input type= "radio" th:field="*{tipo_servicio}"
							value="sanitario" id="tipus2" />
							<label for="tipus2">Sanitario</label>
						</span>
						<span>
							<input type= "radio" th:field="*{tipo_servicio}"
							value="limpieza" id="tipus3" />
						<label for="tipus2">Limpieza</label>
						</span>
					</td>
				</tr>
				<tr>
					<td style="color:red" th:if= "${#fields.hasErrors('tipo_servicio')}" th:errors= "*{tipo_servicio}" ></td>
				</tr>
		        <tr>
		        	<td><label style="font-size: x-large;">Comentarios</label></td>
		        	<td><textarea  rows="10" cols="70" th:field="*{comentarios}"></textarea></td>
		        </tr>
				 <tr>
		            <td colspan="2"><button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
		            Solicitar petición</td>
		        </tr>
        	</table>
		</form>
	</div>
  </div>
  
	
	
</div>
</body>
</html>