<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragmentos/base}">
<head>
<title>Solicitud</title>
<meta charset="UTF-8"/>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"
                                    th:href="@{/css/bootstrap.css}"/>

</head>
<body>
<div layout:fragment="content" style="margin: 1vw;">
	<h3>Gestión de peticiones</h3>
	<div id="nueva" style="background-color: #ece5e5;;height:100%;    margin: 2vh;padding: 2vh;"> 
		<h5>Crear una nueva petición</h5>
		<form action="#" th:action="@{/peticion/add}"
                     th:object="${peticion}" method="post">
			<table>
		        <tr>
		        	<td><label>Tipo del servicio</label></td>
		            <td>
						<div class="form-check" th:field="*{tipo_servicio}">
						  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
						  <label class="form-check-label" for="exampleRadios1" style="font-size: x-large;">
							Comida
						  </label>
						  
						  <label style="margin-left:2vh">
						  					Servicios básicos de comida
						  </label>
						</div>
						<div class="form-check ">
						  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
						  <label class="form-check-label" for="exampleRadios2" style="font-size: x-large;">
						    Sanitario
						  </label>
						  <label style="margin-left:2vh">
						  	Comentario 2
						  </label>
						</div>
						<div class="form-check ">
						  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
						  <label class="form-check-label" for="exampleRadios2" style="font-size: x-large;">
						    Limpieza
						  </label>
						  <label style="margin-left:2vh">
						  	Comentario 3
						  </label>
						</div>
					</td>
				</tr>
				
		        <tr>
		        	<td><label>Comentarios</label></td>
		        	<td><textarea  rows="10" cols="70" th:field="*{comentarios}"></textarea></td>
		        </tr>
				 <tr>
		            <td colspan="2"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
		            Solicitar petición</td>
		        </tr>
        	</table>
		</form>
	</div>
	<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body.. 
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
	
	
</div>
</body>
</html>