<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragmentos/base}">
<head>
<title>Solicitud</title>
<meta charset="UTF-8"/>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"
                                    th:href="@{/css/bootstrap.css}"/>

</head>
<body>
<div layout:fragment="content" style="margin: 1vw;">
	<h3>Gestión de peticiones</h3>
	<div id="nueva" style="background-color: #ece5e5;;height:100%;    margin: 2vh;padding: 2vh;"> 
		<h5>Crear una nueva petición</h5>
		<form action="#" th:action="@{/peticion/add}"
                     th:object="${peticion}" method="post">
			<table>
		      	<tr>
		            <td><label>DNI</label></td>
		            <td><input type="text" th:field="*{dni_personaMayor}" /></td>
		        </tr>
		        <tr>
		        	<td><label>Tipo del servicio</label></td>
		            <td>
					<select class="form_control" type="text" th:field="*{tipo_servicio}">
						<option value="No seleccionado">Selecciona el tipo de servicio</option>
						<option value="comida">Comida</option>
						<option value="santario">Sanitario</option>
						<option value="limpieza">Limpieza</option>
					</select>
					</td>
				</tr>
				<tr>
		            <td><label>Fecha de finalización</label></td>
		            <td><input type="date" th:field="*{fecha_finalizacion}" /></td>
		        </tr>
				 <tr>
		            <td colspan="2"><input type="submit" value="Solicitar petición" /></td>
		        </tr>
        	</table>
		</form>
	</div>
	
	<div id="historial" style="background-color: #ece5e5;;height:20vw;    margin: 2vh;padding: 2vh;"> 
		<h5>Historial de peticiones</h5>
	</div>
	
</div>
</body>
</html>