<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> ①
<head>
   <title>Gestionar Peticiones</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
   <h1>Lista de peticiones</h1>
   <table>
     <thead>
       <tr>
         <th>Numero</th>
         <th>Tipo de servicio</th>
         <th>Fecha de creacion</th>
         <th>Estado</th>
         <th>Fecha de aprobacion</th>
         <th>Fecha de rechazo</th>
         <th>Comentarios</th>
         <th>Fecha de finalizacion</th>
         <th>DNI</th>
         <th>Numero factura</th>
         <th>Numero Contrato</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="peticion: ${peticiones}">
         <td th:text="${peticion.numero}"></td>
         <td th:text="${peticion.tipo_servicio}"></td>
         <td th:text="${peticion.fecha_creacion}"></td>
         <td th:text="${peticion.estado}"></td>
         <td th:text="${peticion.fecha_aprobacion}"></td>
         <td th:text="${peticion.fecha_rechazado}"></td>
         <td th:text="${peticion.comentarios}"></td>
         <td th:text="${peticion.fecha_finalizacion}"></td>
         <td th:text="${peticion.dni_personaMayor}"></td>
         <td th:text="${peticion.numero_factura}"></td>
         <td th:text="${peticion.numero_contrato}"></td>
         <td><a th:href="@{/peticion/update/{numero}(numero=${peticion.numero})}">Edita</a>
         </td>
         <td><a th:href="@{/peticion/delete/{numero}(numero=${peticion.numero})}">Borra</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add">Anyade Peticion</a>
</body>
</html>
