<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragmentos/base}">
<head>
<title>Solicitud</title>
<meta charset="UTF-8"/>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"
                                    th:href="@{/css/bootstrap.css}"/>

</head>
<body>
<div layout:fragment="content" style="margin: 1vw;">
	<div class="row">
	<div class="col-3">
		<button type="button" class="btn btn-primary">
		<a style="color:white" href="gestionPersonasMayores">Gestionar Personas Mayores </a>
		</button>

	</div>
	<div class="col-3">
		<button type="button" class="btn btn-primary">
			<a style="color:white" href="gestionarPeticiones">Gestionar Peticiones </a>
		</button>
	</div>
	</div>
</div>
</body>
</html>