<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar Trabajadores Sociales</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   
<link rel="stylesheet" type="text/css" href="/css/prueba.css"
                                    th:href="@{/css/prueba.css}"/>
</head>
<body>
   <h1>Lista de trabajadores sociales</h1>
   <div th:if="${#lists.isEmpty(trabajadores)}">
         No hay trabajadores sociales en la BBDD
    </div>
   <table class="table table-striped table-bordered"  th:unless="${#lists.isEmpty(trabajadores)}">
     <thead>
       <tr>
         <th>usuarioCAS</th>
         <th>Nombre</th>
         <th>Telefono</th>
         <th>Email</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="trabajador: ${#lists.sort(trabajadores)}">
         <td th:text="${trabajador.usuarioCAS}"></td>
         <td th:text="${trabajador.nombre}"></td>
         <td th:text="${trabajador.telefono}"></td>
         <td th:text="${trabajador.email}"></td>
         <td>
         	<button type="button" class="btn btn-primary">
         	<a th:href="@{/trabajadorSocial/update/{usuarioCAS}(usuarioCAS=${trabajador.usuarioCAS})}" style="color:white">Editar</a>
         	</button>
         </td>
         <td>
         	<button type="button" class="btn btn-danger">
         	<a th:href="@{/trabajadorSocial/delete/{usuarioCAS}(usuarioCAS=${trabajador.usuarioCAS})}" style="color:white">Borrar</a>
         	</button>
         </td>
       </tr>
     </tbody>
   </table>
   <button type="button" class="btn btn-success">
   <a href="add" style="color:white">Añade Trabajador Social</a>
   </button>
</body>
</html>
