<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> ①
<head>
   <title>Gestionar Empresas</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
   <h1>Lista de trabajadores sociales</h1>
   <table>
     <thead>
       <tr>
         <th>usuarioCAS</th>
         <th>Nombre</th>
         <th>Password</th>
         <th>Telefono</th>
         <th>Email</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="trabajador: ${trabajadores}">
         <td th:text="${trabajador.usuarioCAS}"></td>
         <td th:text="${trabajador.nombre}"></td>
         <td th:text="${trabajador.pwd}"></td>
         <td th:text="${trabajador.telefono}"></td>
         <td th:text="${trabajador.email}"></td>
         <td><a th:href="@{/trabajadorSocial/update/{usuarioCAS}(usuarioCAS=${trabajador.usuarioCAS})}">Edita</a>
         </td>
         <td><a th:href="@{/trabajadorSocial/delete/{usuarioCAS}(usuarioCAS=${trabajador.usuarioCAS})}">Borra</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add">Anyade Trabajador Social</a>
</body>
</html>
