<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar Empresas</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
      
<link rel="stylesheet" type="text/css" href="/css/prueba.css"
                                    th:href="@{/css/prueba.css}"/>
</head>
<body>
   <h1>Lista de empresas</h1>
   <div th:if="${#lists.isEmpty(empresas)}">
         No hay empresas en la BBDD
    </div>
   <table class="table table-striped table-bordered" th:unless="${#lists.isEmpty(empresas)}">
     <thead>
       <tr>
         <th>CIF</th>
         <th>Nombre</th>
         <th>Direccion</th>
         <th>Nombre de contacto</th>
         <th>Telefono de contacto</th>
         <th>Email de contacto</th>
         <th>Tipo de servicio</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="empresa: ${#lists.sort(empresas)}">
         <td th:text="${empresa.cif}"></td>
         <td th:text="${empresa.nombre}"></td>
         <td th:text="${empresa.direccion}"></td>
         <td th:text="${empresa.nombre_contacto}"></td>
         <td th:text="${empresa.telefono_contacto}"></td>
         <td th:text="${empresa.email_contacto}"></td>
         <td th:text="${empresa.tipo_servicio}"></td>
         <td>
         <button type="button" class="btn btn-primary">
         	<a th:href="@{/empresa/update/{cif}(cif=${empresa.cif})}" style="color:white">Edita</a>
         	</button>
         </td>
         <td><button type="button" class="btn btn-danger">
         <a th:href="@{/empresa/delete/{cif}(cif=${empresa.cif})}" style="color:white">Borra</a></button>
         </td>
       </tr>
     </tbody>
   </table>
   <button type="button" class="btn btn-success">
   <a href="add" style="color:white">Añadir Empresa</a></button>
</body>
</html>
