<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> ①
<head>
   <title>Gestionar Voluntarios</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
   <h1>Lista de voluntarios</h1>
   <table>
     <thead>
       <tr>
         <th>Usuario</th>
         <th>Contraseña</th>
         <th>Nombre</th>
         <th>Telefono</th>
         <th>Email</th>
         <th>Hobbies</th>
         <th>Fecha de solicitud</th>
         <th>Fecha de aceptacion</th>
         <th>Estado</th>
         <th>Fecha de nacimiento</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="voluntario: ${voluntarios}">
         <td th:text="${voluntario.usuario}"></td>
         <td th:text="${voluntario.pwd}"></td>
         <td th:text="${voluntario.nombre}"></td>
         <td th:text="${voluntario.telefono}"></td>
         <td th:text="${voluntario.email}"></td>
         <td th:text="${voluntario.hobbies}"></td>
         <td th:text="${voluntario.fecha_aplicacion}"></td>
         <td th:text="${voluntario.fecha_aceptacion}"></td>
         <td th:text="${voluntario.estado}"></td>
         <td th:text="${voluntario.fecha_ncto}"></td>
         
         <td><a th:href="@{/voluntario/update/{usuario}(usuario=${voluntario.usuario})}">Edita</a>
         </td>
         <td><a th:href="@{/voluntario/delete/{usuario}(usuario=${voluntario.usuario})}">Borra</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add">Anyade Voluntario</a>
</body>
</html>
