<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> ①
<head>
   <title>Gestionar Pagadas</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
   <h1>Lista de pagadas</h1>
   <table>
     <thead>
       <tr>
         <th>Numero de peticion</th>
         <th>Numero de factura</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="pagada: ${pagadas}">
         <td th:text="${pagada.numero_peticion}"></td>
         <td th:text="${pagada.numero_factura}"></td>
         <td><a th:href="@{/pagada/update/{numero_peticion}(numero_peticion=${pagada.numero_peticion})}">Edita</a>
         </td>
         <td><a th:href="@{/pagada/delete/{numero_peticion}(numero_peticion=${pagada.numero_peticion})}">Borra</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add">Anyade Pagada</a>
</body>
</html>
